.clean_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  width: 100vw;
  height: calc(100vw * 2782 / 490);
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vw * 2782 / 490);
  background-image: url("../../assets/Clean_timingAndDressCode.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid #f6ebc8;
}

.step {
  position: absolute;
  left: -100%;
  padding: 0;
  transition: left 1.5s ease-out;
}

.step.visible {
  left: 5%;
}

.step1 {
  margin-top: calc(280 * 100vw / 490);
}

.step2 {
  margin-top: calc(553 * 100vw / 490);
}

.step3 {
  margin-top: calc(838 * 100vw / 490);
}

.step4 {
  margin-top: calc(1126 * 100vw / 490);
}

.step5 {
  margin-top: calc(1423 * 100vw / 490);
}

.step6 {
  margin-top: calc(1682 * 100vw / 490);
}

.step7 {
  margin-top: calc(1973 * 100vw / 490);
}
