.clean_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	position: relative;
	width: 100vw;
	height: calc(100vw * 2782 / 490);
	overflow: hidden;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(100vw * 2782 / 490);
	background-image: url('../../assets/Clean_timingAndDressCode.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 2px solid #f6ebc8;
}

.step1,
.step2,
.step3,
.step4,
.step5,
.step6,
.step7 {
	position: absolute;
	left: -100%;
	padding: 0;
	transition: left 1.5s ease-out;
}

.step1.visible,
.step2.visible,
.step3.visible,
.step4.visible,
.step5.visible,
.step6.visible,
.step7.visible {
	left: 5%;
}

.step1 {
	padding-top: calc(280 * 100vw / 490);
}

.step2 {
	padding-top: calc(553 * 100vw / 490);
}

.step3 {
	padding-top: calc(838 * 100vw / 490);
}

.step4 {
	padding-top: calc(1126 * 100vw / 490);
}

.step5 {
	padding-top: calc(1423 * 100vw / 490);
}

.step6 {
	padding-top: calc(1682 * 100vw / 490);
}

.step7 {
	padding-top: calc(1973 * 100vw / 490);
}