.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0;
}

.name_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title_andrew {
  font-family: "Soledago", Arial, Helvetica, sans-serif;
  font-size: 116px;
  line-height: 122px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.title_liza {
  font-family: "Soledago", Arial, Helvetica, sans-serif;
  font-size: 180px;
  line-height: 135px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.title_logo_AE {
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.title_1 {
  color: #f6ebc8;
  opacity: 0.5;
}

.title_2 {
  color: #ff9ea7;
  opacity: 0.5;
}

.title_3 {
  color: #f3b216;
  opacity: 0.5;
}

.title_4 {
  color: #9c794f;
  opacity: 0.8;
}

.greeting {
  height: 138px;
  text-transform: lowercase;
  font-family: "FuturaPT", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0 40px;
  background-color: #f3b216;
  border-top: 1px solid #f6ebc8;
  border-bottom: 1px solid #f6ebc8;
}
